#navbar{
  padding-top: 25px;
  background-color:#555;
  color:#fff;
  height:5em;
}
#nav{
  text-align: right;
}
#main-img{
  height:100px;
  position: absolute;
}
#main-content{
  text-align: center;
  position: relative;
}
